################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/learning_opengl/FileContentIndex/27fed346-eed8-4404-8d75-a891135dfeae.vsidx
/.vs/learning_opengl/FileContentIndex/4ffedb67-374d-4ae0-86ec-603e77fba266.vsidx
/.vs/learning_opengl/FileContentIndex/d7fb4167-eb53-4fe3-b036-b058c470a92e.vsidx
